# This is Git's per-user configuration file.
[help]
	autoCorrect = 10
[core]
	editor = vim
    pager = less
[alias]
	co = checkout
	st = status
	sup = submodule update --init
	amend = commit --amend --no-edit
	diff = diff --minimal
	stat = show --stat
	pushup = push -u origin
	pushupc = !git pushup $(git symbolic-ref --short HEAD)
	pushd = push --delete origin
	pushdc = !git pushd $(git symbolic-ref --short HEAD)
	pushdupc = !git pushdc && git pushupc
	sync-author = !FILTER_BRANCH_SQUELCH_WARNING=1 /usr/bin/git filter-branch -f --env-filter '. $HOME/.bashrc.d/git-scripts/sync-author.sh' --tag-name-filter cat
	ulog = !$HOME/.bashrc.d/git-scripts/gitlog-with-urls.sh
[credentials]
	helper = store
[pull]
	ff = only
[advice]
	detachedHead = false
[color "grep"]
	linenumber = green bold
	match = white red
	filename = magenta
[lfs]
	pruneoffsetdays = 0
	fetchrecentrefsdays = 0
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
